:root {
  --background-color--background-primary: var(--base-color-neutral--white);
  --text-color--text-primary: var(--base-color-neutral--black);
  --link-color--link-primary: var(--base-color-neutral--black);
  --border-color--border-primary: var(--base-color-neutral--black);
  --base-color-neutral--black: black;
  --base-color-neutral--white: white;
  --black-archive\<deleted\|variable-dccb7db6\>: black;
  --background-color--background-secondary: var(--base-color-neutral--neutral-lightest);
  --link-color--link-alternate: var(--base-color-neutral--white);
  --background-color--background-tertiary: var(--base-color-neutral--neutral-light);
  --background-color--background-alternate: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-secondary: var(--base-color-neutral--black);
  --background-color--background-success: var(--base-color-system--success-green-light);
  --text-color--text-success: var(--base-color-system--success-green);
  --background-color--background-error: var(--base-color-system--error-red-light);
  --text-color--text-error: var(--base-color-system--error-red);
  --base-color-brand--black: black;
  --base-color-brand--white: white;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #027a48;
  --base-color-system--success-green-light: #ecfdf3;
  --base-color-system--error-red: #b42318;
  --base-color-system--error-red-light: #fef3f2;
  --border-color--border-secondary: var(--base-color-neutral--neutral-light);
  --border-color--border-alternate: var(--base-color-neutral--white);
  --link-color--link-secondary: var(--base-color-neutral--neutral-light);
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.25rem;
}

ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

li {
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding-left: .5rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .1875rem solid var(--text-color--text-primary);
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.overflow-hidden {
  overflow: hidden;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.hide {
  display: none;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.max-width-medium {
  width: 100%;
  max-width: 35rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 25rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 20rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.max-width-small {
  width: 100%;
  max-width: 30rem;
}

.utility_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility_form-block {
  text-align: center;
  flex-direction: column;
  max-width: 20rem;
  display: flex;
}

.utility_form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.utility_image {
  margin-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper {
  overflow: visible;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.margin-tiny {
  margin: .25rem;
}

.margin-xxsmall {
  margin: .5rem;
}

.margin-xsmall {
  margin: 1rem;
}

.margin-small {
  margin: 1.5rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-large {
  margin: 3rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.margin-huge {
  margin: 6rem;
}

.margin-xhuge {
  margin: 7rem;
}

.margin-xxhuge {
  margin: 10rem;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.padding-tiny {
  padding: .25rem;
}

.padding-xxsmall {
  padding: .5rem;
}

.padding-xsmall {
  padding: 1rem;
}

.padding-small {
  padding: 1.5rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-large {
  padding: 3rem;
}

.padding-xlarge {
  padding: 4rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.padding-huge {
  padding: 6rem;
}

.padding-xhuge {
  padding: 7rem;
}

.padding-xxhuge {
  padding: 10rem;
}

.margin-top, .margin-top.margin-custom1, .margin-top.margin-huge, .margin-top.margin-small, .margin-top.margin-tiny, .margin-top.margin-custom3, .margin-top.margin-medium, .margin-top.margin-xxsmall, .margin-top.margin-xxhuge, .margin-top.margin-custom2, .margin-top.margin-xsmall, .margin-top.margin-large, .margin-top.margin-xxlarge, .margin-top.margin-xlarge, .margin-top.margin-0, .margin-top.margin-xhuge {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom, .margin-bottom.margin-xxlarge, .margin-bottom.margin-medium, .margin-bottom.margin-custom3, .margin-bottom.margin-custom1, .margin-bottom.margin-tiny, .margin-bottom.margin-small, .margin-bottom.margin-large, .margin-bottom.margin-0, .margin-bottom.margin-xlarge, .margin-bottom.margin-xhuge, .margin-bottom.margin-xxhuge, .margin-bottom.margin-huge, .margin-bottom.margin-xxsmall, .margin-bottom.margin-custom2, .margin-bottom.margin-xsmall, .margin-bottom.margin-xsmall {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left, .margin-left.margin-tiny, .margin-left.margin-xxlarge, .margin-left.margin-0, .margin-left.margin-small, .margin-left.margin-xsmall, .margin-left.margin-large, .margin-left.margin-huge, .margin-left.margin-xlarge, .margin-left.margin-custom3, .margin-left.margin-xxsmall, .margin-left.margin-custom1, .margin-left.margin-custom2, .margin-left.margin-xhuge, .margin-left.margin-xxhuge, .margin-left.margin-medium {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.margin-right, .margin-right.margin-huge, .margin-right.margin-xsmall, .margin-right.margin-xxhuge, .margin-right.margin-small, .margin-right.margin-medium, .margin-right.margin-xlarge, .margin-right.margin-custom3, .margin-right.margin-custom2, .margin-right.margin-xxsmall, .margin-right.margin-xhuge, .margin-right.margin-custom1, .margin-right.margin-large, .margin-right.margin-0, .margin-right.margin-xxlarge, .margin-right.margin-tiny {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-vertical, .margin-vertical.margin-medium, .margin-vertical.margin-xlarge, .margin-vertical.margin-xxsmall, .margin-vertical.margin-xxlarge, .margin-vertical.margin-huge, .margin-vertical.margin-0, .margin-vertical.margin-xxhuge, .margin-vertical.margin-tiny, .margin-vertical.margin-xsmall, .margin-vertical.margin-custom1, .margin-vertical.margin-small, .margin-vertical.margin-large, .margin-vertical.margin-xhuge, .margin-vertical.margin-custom2, .margin-vertical.margin-custom3 {
  margin-left: 0;
  margin-right: 0;
}

.margin-horizontal, .margin-horizontal.margin-medium, .margin-horizontal.margin-tiny, .margin-horizontal.margin-custom3, .margin-horizontal.margin-0, .margin-horizontal.margin-xxlarge, .margin-horizontal.margin-xhuge, .margin-horizontal.margin-huge, .margin-horizontal.margin-xlarge, .margin-horizontal.margin-custom1, .margin-horizontal.margin-xxsmall, .margin-horizontal.margin-xsmall, .margin-horizontal.margin-large, .margin-horizontal.margin-custom2, .margin-horizontal.margin-small, .margin-horizontal.margin-xxhuge {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top, .padding-top.padding-xhuge, .padding-top.padding-xxhuge, .padding-top.padding-0, .padding-top.padding-large, .padding-top.padding-custom2, .padding-top.padding-xlarge, .padding-top.padding-huge, .padding-top.padding-xxsmall, .padding-top.padding-custom3, .padding-top.padding-tiny, .padding-top.padding-medium, .padding-top.padding-xxlarge, .padding-top.padding-small, .padding-top.padding-xsmall, .padding-top.padding-custom1 {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-bottom, .padding-bottom.padding-xlarge, .padding-bottom.padding-small, .padding-bottom.padding-xxhuge, .padding-bottom.padding-large, .padding-bottom.padding-xhuge, .padding-bottom.padding-custom2, .padding-bottom.padding-xxsmall, .padding-bottom.padding-xxlarge, .padding-bottom.padding-custom3, .padding-bottom.padding-custom1, .padding-bottom.padding-xsmall, .padding-bottom.padding-huge, .padding-bottom.padding-tiny, .padding-bottom.padding-medium, .padding-bottom.padding-0 {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-left, .padding-left.padding-xhuge, .padding-left.padding-xlarge, .padding-left.padding-0, .padding-left.padding-small, .padding-left.padding-xsmall, .padding-left.padding-medium, .padding-left.padding-xxhuge, .padding-left.padding-huge, .padding-left.padding-custom1, .padding-left.padding-tiny, .padding-left.padding-xxsmall, .padding-left.padding-custom3, .padding-left.padding-custom2, .padding-left.padding-xxlarge, .padding-left.padding-large {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-right, .padding-right.padding-xxhuge, .padding-right.padding-custom2, .padding-right.padding-large, .padding-right.padding-xlarge, .padding-right.padding-tiny, .padding-right.padding-custom3, .padding-right.padding-custom1, .padding-right.padding-xsmall, .padding-right.padding-xxlarge, .padding-right.padding-xxsmall, .padding-right.padding-medium, .padding-right.padding-xhuge, .padding-right.padding-huge, .padding-right.padding-0, .padding-right.padding-small {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-vertical, .padding-vertical.padding-0, .padding-vertical.padding-xxhuge, .padding-vertical.padding-large, .padding-vertical.padding-custom3, .padding-vertical.padding-medium, .padding-vertical.padding-tiny {
  padding-left: 0;
  padding-right: 0;
}

.padding-vertical.padding-xxlarge {
  padding: 2.5rem 0;
}

.padding-vertical.padding-custom1, .padding-vertical.padding-xsmall, .padding-vertical.padding-xhuge, .padding-vertical.padding-xlarge, .padding-vertical.padding-custom2, .padding-vertical.padding-xxsmall, .padding-vertical.padding-huge, .padding-vertical.padding-small, .padding-vertical.padding-xxlarge {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal, .padding-horizontal.padding-xxsmall, .padding-horizontal.padding-0, .padding-horizontal.padding-custom3, .padding-horizontal.padding-huge, .padding-horizontal.padding-xsmall, .padding-horizontal.padding-medium, .padding-horizontal.padding-xxlarge, .padding-horizontal.padding-large, .padding-horizontal.padding-xhuge, .padding-horizontal.padding-custom1, .padding-horizontal.padding-tiny, .padding-horizontal.padding-custom2, .padding-horizontal.padding-xxhuge, .padding-horizontal.padding-small, .padding-horizontal.padding-xlarge {
  padding-top: 0;
  padding-bottom: 0;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.text-weight-medium {
  font-weight: 500;
}

.text-size-medium {
  text-align: center;
  font-size: 2rem;
}

.margin-top-auto {
  margin-top: auto;
}

.text-style-quote {
  border-left: .1875rem solid var(--text-color--text-primary);
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.icon-embed-small {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl-styleguide_callout-link-wrapper-colors {
  background-image: linear-gradient(135deg, #ff744826, #ff484826 50%, #6248ff26), linear-gradient(#fff, #fff);
  border-radius: .6875rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .75rem 1rem;
  display: flex;
}

.rl-styleguide_heading {
  z-index: 4;
  margin-bottom: 1.5rem;
  padding: .25rem .5rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.heading-style-h6 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
}

.rl-styleguide_item-row {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 15rem 1fr;
  align-items: center;
}

.rl-styleguide_item-row.is-button-row {
  grid-template-columns: 19rem 1fr;
}

.icon-1x1-xsmall {
  width: 1.5rem;
  height: 1.5rem;
}

.rl-styleguide_empty-space {
  z-index: -1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  display: flex;
  position: relative;
}

.shadow-xxlarge {
  box-shadow: 0 32px 64px -12px #00000024;
}

.rl-styleguide_icons-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  display: grid;
}

.icon-embed-medium {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.form_radio {
  align-items: center;
  margin-bottom: 0;
  padding-left: 1.125rem;
  display: flex;
}

.heading-style-h5 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.heading-style-h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.form_checkbox-icon {
  border: 1px solid var(--border-color--border-primary);
  cursor: pointer;
  border-radius: 0;
  width: 1.125rem;
  min-width: 1.125rem;
  height: 1.125rem;
  min-height: 1.125rem;
  margin-top: 0;
  margin-left: -1.25rem;
  margin-right: .5rem;
  transition: all .2s;
}

.form_checkbox-icon.w--redirected-checked {
  box-shadow: none;
  background-color: #000;
  background-size: 16px 16px;
  border-width: 1px;
  border-color: #000;
}

.form_checkbox-icon.w--redirected-focus {
  box-shadow: none;
  border-color: #000;
}

.form_checkbox-label {
  margin-bottom: 0;
}

.text-size-tiny {
  font-size: .75rem;
}

.form_field-label {
  margin-bottom: .5rem;
  font-weight: 400;
}

.button {
  border: 1px solid var(--base-color-neutral--black);
  background-color: var(--base-color-neutral--black);
  color: var(--base-color-neutral--white);
  text-align: center;
  padding: .75rem 1.5rem;
  text-decoration: none;
}

.button.is-link {
  color: var(--base-color-neutral--black);
  background-color: #0000;
  border-style: none;
  padding: .25rem 0;
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-alternate {
  color: var(--base-color-neutral--white);
  background-color: #0000;
}

.button.is-link.is-icon {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #ebeff1;
}

.button.is-link.is-icon:hover {
  color: #17bebb;
}

.button.is-link.is-icon {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
}

.button.is-icon {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button.is-secondary {
  opacity: .85;
  color: var(--text-color--text-primary);
  background-color: #ffc914;
  border-style: none;
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.button.is-secondary.is-alternate {
  color: var(--base-color-neutral--white);
  background-color: #0000;
}

.button.is-secondary.hero-button-02 {
  background-color: #ffc914;
}

.button.is-secondary.positive-z-button {
  display: none;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-small.is-icon-only {
  padding-left: .5rem;
  padding-right: .5rem;
}

.button.is-alternate {
  border-color: var(--base-color-neutral--white);
  background-color: var(--base-color-neutral--white);
  color: var(--base-color-neutral--black);
}

.button.is-tertiary {
  color: var(--base-color-neutral--black);
  background-color: #0000;
  border-color: #0000;
}

.button.is-icon-only {
  padding-left: .75rem;
  padding-right: .75rem;
}

.button.is-navbar2-button {
  color: #040b16;
  background-color: #819cf1;
  border-style: none;
  border-radius: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.button.hero-button-01 {
  border-radius: .5rem;
  padding: 1rem 3rem;
}

.button.is-navbar2-button {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.button.is-secondary {
  color: var(--base-color-neutral--black);
  background-color: #0000;
}

.text-weight-normal {
  font-weight: 400;
}

.heading-style-h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

.text-style-italic {
  font-style: italic;
}

.icon-1x1-xxsmall {
  width: 1rem;
  height: 1rem;
}

.form_radio-label {
  margin-bottom: 0;
}

.rl-styleguide_item {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  padding-bottom: 1rem;
  display: grid;
}

.rl-styleguide_item.is-stretch {
  grid-row-gap: 1rem;
  justify-items: stretch;
}

.icon-1x1-xlarge {
  width: 6.5rem;
  height: 6.5rem;
}

.shadow-xlarge {
  box-shadow: 0 24px 48px -12px #0000002e;
}

.text-weight-light {
  font-weight: 300;
}

.rl-styleguide_label {
  color: #1e51f7;
  white-space: nowrap;
  cursor: context-menu;
  background-color: #ebeffa;
  padding: .25rem .5rem;
  font-size: .75rem;
  display: inline-block;
}

.rl-styleguide_label.is-html-tag {
  color: #bb4198;
  background-color: #be4aa51a;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.icon-height-xlarge {
  height: 6.5rem;
}

.heading-style-h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.icon-1x1-large {
  width: 5rem;
  height: 5rem;
}

.form_input {
  border: 1px solid var(--base-color-neutral--black);
  background-color: var(--base-color-neutral--white);
  color: var(--text-color--text-primary);
  border-radius: 0;
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.6;
}

.form_input:focus {
  border-color: #000;
}

.form_input::placeholder {
  color: #0009;
}

.form_input.is-text-area {
  height: auto;
  min-height: 11.25rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  overflow: auto;
}

.form_input.is-select-input {
  background-image: none;
}

.rl-styleguide_button-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: max-content;
  grid-auto-flow: row;
  place-items: center start;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: grid;
}

.rl-styleguide_list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  padding-bottom: 4rem;
}

.icon-embed-custom1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.button-group.is-center {
  justify-content: center;
}

.text-color-white {
  color: var(--base-color-neutral--white);
}

.background-color-white {
  background-color: var(--base-color-neutral--white);
}

.text-style-muted {
  opacity: .6;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.icon-embed-large {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  display: flex;
}

.shadow-xxsmall {
  box-shadow: 0 1px 2px #0000000d;
}

.text-color-black {
  color: var(--black-archive\<deleted\|variable-dccb7db6\>);
}

.icon-embed-xxsmall {
  opacity: .85;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.icon-embed-xsmall {
  color: #d8e5f7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.icon-height-xxsmall {
  height: 1rem;
}

.background-color-black {
  background-color: var(--base-color-neutral--black);
}

.shadow-xsmall {
  box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
}

.icon-1x1-custom1 {
  width: 1.25rem;
  height: 1.25rem;
}

.rl-styleguide_header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
}

.rl-styleguide_subheading {
  z-index: 3;
  background-color: var(--background-color--background-secondary);
  border-radius: .75rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.form_radio-icon {
  border: 1px solid var(--border-color--border-primary);
  cursor: pointer;
  border-radius: 100px;
  width: 1.125rem;
  min-width: 1.125rem;
  height: 1.125rem;
  min-height: 1.125rem;
  margin-top: 0;
  margin-left: -1.125rem;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  background-color: #fff;
  background-image: none;
  border-width: 6px;
  border-color: #000;
}

.form_radio-icon.w--redirected-focus {
  box-shadow: none;
  border-color: #000;
  margin-top: 0;
}

.rl-styleguide_shadows-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
}

.form_form {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.rl-styleguide_callout-link_colors {
  background-color: #fff;
  background-image: linear-gradient(135deg, #ff7448, #ff4848 50%, #6248ff);
  border-radius: .75rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.icon-height-custom1 {
  height: 1.25rem;
}

.text-align-center {
  text-align: center;
}

.text-size-small {
  font-size: .875rem;
}

.class-label-column {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.form_field-wrapper {
  position: relative;
}

.icon-height-small {
  height: 2rem;
}

.icon-height-large {
  height: 5rem;
}

.shadow-large {
  box-shadow: 0 20px 24px -4px #00000014, 0 8px 8px -4px #00000008;
}

.icon-embed-xlarge {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
}

.icon-1x1-small {
  width: 2rem;
  height: 2rem;
}

.class-label-row {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.text-rich-text h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.text-rich-text blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text a {
  color: #ffc914;
  text-decoration: none;
}

.text-rich-text a:hover {
  color: #17bebb;
}

.text-rich-text figcaption {
  border-left: 2px solid var(--text-color--text-primary);
  text-align: left;
  margin-top: .5rem;
  padding-left: .5rem;
  font-size: .875rem;
}

.icon-height-medium {
  height: 3rem;
}

.form_checkbox {
  align-items: center;
  margin-bottom: 0;
  padding-left: 1.25rem;
  display: flex;
}

.shadow-small {
  box-shadow: 0 4px 8px -2px #0000001a, 0 2px 4px -2px #0000000f;
}

.icon-1x1-medium {
  width: 3rem;
  height: 3rem;
}

.rl-styleguide_button-row {
  grid-column-gap: 1rem;
  display: flex;
}

.shadow-medium {
  box-shadow: 0 12px 16px -4px #00000014, 0 4px 6px -2px #00000008;
}

.text-size-large {
  font-size: 1.25rem;
}

.icon-height-xsmall {
  height: 1.5rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.rl-styleguide_spacing-all {
  display: none;
}

.pointer-events-none {
  pointer-events: none;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.rl-styleguide_empty-box {
  z-index: -1;
  background-color: #eee;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.rl-styleguide_spacing {
  border: 1px dashed #d3d3d3;
}

.padding-global {
  padding-left: 5%;
  padding-right: 5%;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-xsmall {
  width: 100%;
  padding-top: 1rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1.5rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.spacer-large {
  width: 100%;
  padding-top: 3rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 7rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 10rem;
}

.rl-styleguide_nav {
  z-index: 1000;
  background-color: #161616;
  border-radius: .75rem;
  margin-top: 1rem;
  padding: .5rem;
  position: sticky;
  top: 1rem;
}

.rl-styleguide_nav-link {
  color: var(--link-color--link-alternate);
  border-radius: .25rem;
  padding: .5rem 1rem;
  text-decoration: none;
}

.rl-styleguide_nav-link.w--current {
  color: var(--link-color--link-primary);
  background-color: #fff;
}

.rl-styleguide_subheading-small {
  font-size: 1rem;
  font-weight: 400;
}

.rl-styleguide_callout-heading-wrapper {
  font-size: 1.25rem;
  font-weight: 600;
}

.rl-styleguide_background-color-list {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.background-color-primary {
  background-color: var(--background-color--background-primary);
}

.rl-styleguide_color-spacer {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  display: flex;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.background-color-tertiary {
  background-color: var(--background-color--background-tertiary);
}

.background-color-alternative {
  background-color: var(--background-color--background-alternate);
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.aspect-ratio-square {
  aspect-ratio: 1;
}

.rl-styleguide_ratio-bg {
  z-index: -1;
  background-color: #eee;
  min-width: 3rem;
  height: 100%;
  position: relative;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
}

.form_message-success-wrapper {
  padding: 0;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  display: flex;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
}

.form_message-error-wrapper {
  margin-top: 1rem;
  padding: 0;
}

.navbar2_logo-link {
  padding-left: 0;
}

.dropdown-chevron {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.navbar2_container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .375fr 1fr .375fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.navbar2_menu-dropdown {
  color: var(--link-color--link-alternate);
}

.navbar2_menu-button {
  padding: 0;
}

.navbar2_button-wrapper {
  grid-column-gap: 1rem;
  margin-left: 1rem;
  display: flex;
}

.navbar2_logo {
  width: 80%;
  max-width: 100%;
}

.header96_card {
  border: 1px none var(--border-color--border-primary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40rem;
  padding: 4rem;
  display: flex;
  position: relative;
}

.header96_component {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.section_header96 {
  position: relative;
}

.heading {
  font-size: 4rem;
}

.text-size-medium-2 {
  opacity: .85;
  text-align: left;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1.125rem;
}

.text-weight-semibold {
  color: #e4572e;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.text-weight-semibold.centered {
  text-align: center;
}

.layout1_image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.layout1_image-wrapper {
  border: 1px #000;
  border-radius: 0;
  font-style: normal;
}

.layout1_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.table_cell {
  text-align: center;
  border: 1px solid #030c17;
  padding: .5rem;
}

.table_cell:hover {
  color: var(--base-color-brand--black);
  background-color: #e0b114;
}

.table_cell.header-vertical {
  z-index: auto;
  color: var(--text-color--text-primary);
  background-color: #17bebb;
  border: 1px solid #030c17;
  padding-left: .5rem;
  padding-right: .5rem;
  position: static;
  top: -1px;
}

.table_cell.header-vertical:hover {
  color: #040b16;
}

.table_row {
  background-color: #0000;
  border: 1px #000;
  border-bottom-style: solid;
}

.table_row.table-header {
  z-index: auto;
  opacity: 1;
  color: var(--text-color--text-primary);
  background-color: #17bebb;
  position: sticky;
  top: -1px;
}

.table_row.table-highlighted {
  background-color: #171b19;
}

.table_row.footer-table {
  background-color: #82119c;
}

.table_header {
  text-align: center;
  border: 1px solid #030c17;
  padding: .5rem;
  font-weight: 400;
}

.table_header:hover {
  color: #040b16;
}

.table_header.z {
  color: var(--text-color--text-alternate);
  background-color: #e4572e;
  padding-left: .5rem;
  padding-right: .5rem;
  font-family: Roboto Slab, sans-serif;
  font-weight: 400;
}

.table_head {
  border-radius: 0;
}

.table_component {
  clear: none;
  opacity: .85;
  object-fit: fill;
  background-color: #aac6d3;
  border-radius: 0;
  align-self: center;
  width: auto;
  max-width: none;
  height: auto;
  font-family: Roboto Mono, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  position: static;
  inset: auto 0% 0%;
  overflow: visible;
}

.table_component.z-positive {
  background-color: #0000;
}

.table_component.z-negative {
  background-color: #0000;
  display: none;
}

.layout141_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.body {
  color: var(--text-color--text-alternate);
  background-color: #0a0f0d;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.body.z-table {
  color: var(--text-color--text-alternate);
  background-color: #0a0f0d;
}

.table_footer {
  text-align: center;
  color: #d8e5f7;
  border: 1px solid #030c17;
  padding: .5rem 1.5rem;
}

.table_footer:hover {
  color: #040b16;
}

.table_footer.z {
  font-family: Roboto Slab, sans-serif;
}

.heading-2 {
  opacity: .85;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 3rem;
}

.text-block {
  opacity: .85;
}

.navbar, .footer {
  background-color: #0000;
}

.footer4_logo-link {
  padding-left: 0;
}

.footer4_legal-link {
  color: var(--text-color--text-alternate);
  font-size: .875rem;
  text-decoration: none;
}

.footer4_social-list {
  grid-column-gap: .75rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  place-items: start;
  display: grid;
}

.footer4_social-link {
  color: var(--link-color--link-primary);
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  display: flex;
}

.footer4_credit-text {
  font-size: .875rem;
}

.footer4_credit-text.programmed-by {
  text-transform: none;
}

.footer4_link {
  text-align: center;
  color: #d8e5f7;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.footer4_link-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: start;
  display: grid;
}

.line-divider {
  background-color: #708090;
  width: 100%;
  height: 1px;
}

.footer4_bottom-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  margin-bottom: 1rem;
  display: grid;
}

.footer4_top-wrapper {
  grid-column-gap: 4vw;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.navbar-container, .footer-container, .main-container {
  max-width: 75rem;
}

.image {
  width: 80%;
  max-width: 100%;
}

.link {
  color: #ffc914;
  text-decoration: none;
}

.link:hover {
  color: #17bebb;
  text-decoration: none;
}

.navbar2_dropdown-list-2.w--open {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--border-color--border-primary);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--border-color--border-primary);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--border-color--border-primary);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--border-color--border-primary);
  background-color: #708090;
  padding: .5rem;
  position: absolute;
}

.navbar2_menu-2 {
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
}

.navbar2_component-2 {
  background-color: #0000;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}

.navbar2_link-2 {
  color: var(--link-color--link-alternate);
  padding: .5rem 1rem;
}

.navbar2_link-2:hover {
  color: #17bebb;
}

.navbar2_link-2.w--current {
  color: #ffc914;
}

.navbar2_link-2.w--current:hover {
  color: #17bebb;
}

.navbar2_dropdown-link-2 {
  color: var(--text-color--text-alternate);
  text-align: center;
  padding: .5rem 1rem;
}

.navbar2_dropdown-link-2:hover {
  color: #17bebb;
}

.navbar2_dropdown-link-2.w--current {
  color: var(--base-color-neutral--black);
}

.navbar2_dropdwn-toggle-2 {
  grid-column-gap: .5rem;
  color: var(--link-color--link-alternate);
  align-items: center;
  padding: .5rem 1rem;
  display: flex;
}

.navbar2_dropdwn-toggle-2:hover {
  color: #17bebb;
}

.text-span-3 {
  color: #e4572e;
  font-style: italic;
  font-weight: 700;
}

.text-span-4 {
  color: #17bebb;
  font-style: italic;
  font-weight: 700;
}

.tables-container, .hero-container {
  max-width: 75rem;
}

.icon-embed-xxsmall-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.about-container {
  max-width: 75rem;
}

.button-group-3 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.button-group-3.is-center {
  justify-content: center;
}

.layout141_image-wrapper {
  align-self: center;
}

.layout141_image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.text-size-medium-5 {
  text-align: left;
  letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.65;
}

.text-weight-semibold {
  text-align: left;
  font-weight: 600;
}

.heading-4 {
  text-align: center;
}

.link-2 {
  color: #ffc914;
  text-decoration: none;
}

.link-2:hover {
  color: #17bebb;
  text-decoration: none;
}

.text-span-7 {
  color: #e4572e;
  font-style: italic;
}

.text-span-8 {
  color: #17bebb;
  font-style: italic;
}

.text-size-medium-6 {
  font-size: 1.125rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.img-container {
  max-width: 75rem;
  height: 25rem;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  .hide-tablet {
    display: none;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .margin-xlarge {
    margin: 3.5rem;
  }

  .margin-xxlarge {
    margin: 4.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-xxhuge {
    margin: 7.5rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .padding-xlarge {
    padding: 3.5rem;
  }

  .padding-xxlarge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 7.5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading-style-h2 {
    font-size: 2.75rem;
  }

  .rl-styleguide_icons-list {
    grid-auto-flow: row;
  }

  .heading-style-h1 {
    font-size: 3.25rem;
  }

  .heading-style-h4 {
    font-size: 1.75rem;
  }

  .heading-style-h3 {
    font-size: 2.25rem;
  }

  .icon-embed-xsmall {
    color: #d8e5f7;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xlarge {
    padding-top: 3.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4.5rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 7.5rem;
  }

  .menu-icon2_line-bottom {
    background-color: var(--text-color--text-alternate);
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .dropdown-chevron {
    inset: auto 0% auto auto;
  }

  .menu-icon2_line-top {
    background-color: var(--text-color--text-alternate);
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar2_container {
    grid-template-columns: .25fr 1fr;
    display: flex;
  }

  .navbar2_menu-dropdown {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    display: flex;
  }

  .navbar2_menu-button {
    padding: 0;
  }

  .navbar2_menu-button.w--open {
    background-color: #0000;
  }

  .navbar2_button-wrapper {
    align-items: center;
  }

  .menu-icon2_line-middle {
    background-color: var(--text-color--text-alternate);
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .layout1_component {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .table_component {
    border-radius: 0;
    width: 768px;
    max-width: 100%;
    height: 1024px;
    max-height: 100%;
    overflow: auto;
  }

  .footer4_logo-link, .footer4_credit-text {
    text-align: center;
  }

  .footer4_top-wrapper {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }

  .image {
    text-align: center;
    color: #d8e5f7;
    background-color: #0000;
  }

  .navbar2_dropdown-list-2 {
    position: static;
    overflow: hidden;
  }

  .navbar2_dropdown-list-2.w--open {
    border-style: none;
    padding: 0;
    position: static;
  }

  .navbar2_menu-2 {
    border-bottom: 1px solid var(--border-color--border-primary);
    background-color: var(--background-color--background-primary);
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    justify-content: center;
    width: 100%;
    padding: 1rem 5% 2.5rem;
    display: flex;
    position: absolute;
    overflow: auto;
  }

  .navbar2_menu-2.is-page-height-tablet {
    background-color: #708090;
    height: 100dvh;
    padding-bottom: 6.5rem;
    transition-property: height;
    transition-duration: .5s;
    transition-timing-function: ease;
  }

  .navbar2_link-2 {
    text-align: center;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .navbar2_dropdown-link-2 {
    text-align: center;
    width: auto;
    padding: .75rem 0;
    font-size: 16px;
  }

  .navbar2_dropdwn-toggle-2 {
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding: .75rem 2rem .75rem 0;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-xsmall {
    margin: .75rem;
  }

  .margin-small {
    margin: 1.25rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-large {
    margin: 2rem;
  }

  .margin-xlarge {
    margin: 2.5rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-xxhuge {
    margin: 5rem;
  }

  .padding-xsmall {
    padding: .75rem;
  }

  .padding-small {
    padding: 1.25rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-large {
    padding: 2rem;
  }

  .padding-xlarge {
    padding: 2.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-size-medium {
    font-size: 2rem;
  }

  .text-style-quote {
    font-size: 1.125rem;
  }

  .heading-style-h2 {
    font-size: 2.25rem;
  }

  .heading-style-h6 {
    font-size: 1.125rem;
  }

  .heading-style-h5 {
    font-size: 1.25rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .button.is-navbar2-button {
    padding: .25rem 1rem;
  }

  .heading-style-h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .heading-style-h3 {
    font-size: 2rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .icon-embed-xsmall {
    color: #d8e5f7;
  }

  .text-size-large {
    font-size: 1.125rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-xsmall {
    padding-top: .75rem;
  }

  .spacer-small {
    padding-top: 1.25rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-large {
    padding-top: 2rem;
  }

  .spacer-xlarge {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 5rem;
  }

  .header96_card {
    min-height: 32rem;
    padding: 2rem;
  }

  .header96_component {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .text-size-medium-2 {
    font-size: 1rem;
  }

  .layout1_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .table_component {
    border-radius: 0;
    width: 667px;
    max-width: 100%;
    height: 375px;
    max-height: 100%;
    overflow: auto;
  }

  .footer4_logo-link {
    text-align: center;
  }

  .footer4_credit-text {
    text-align: center;
    margin-top: 1rem;
  }

  .footer4_link-list {
    grid-column-gap: 0px;
    grid-row-gap: 1.5rem;
    grid-auto-flow: row;
    justify-items: center;
  }

  .footer4_bottom-wrapper {
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    grid-auto-flow: row;
    justify-items: center;
    padding-bottom: 1rem;
    display: block;
  }

  .image {
    text-align: center;
    color: #d8e5f7;
    background-color: #0000;
  }

  .navbar2_menu-2.is-page-height-tablet {
    background-color: #708090;
    padding-bottom: 6rem;
  }

  .navbar2_component-2 {
    min-height: 4rem;
  }

  .text-size-medium-5, .text-size-medium-6 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.5rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom.margin-xsmall {
    text-align: center;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .text-size-medium {
    text-align: center;
    font-size: 1.5rem;
  }

  .button-group {
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .menu-icon2_line-bottom {
    background-color: var(--text-color--text-alternate);
  }

  .navbar2_logo-link {
    text-align: center;
    align-self: auto;
    display: flex;
  }

  .menu-icon2_line-top {
    background-color: var(--text-color--text-alternate);
  }

  .navbar2_container {
    text-align: center;
  }

  .menu-icon2_line-middle {
    background-color: var(--text-color--text-alternate);
  }

  .navbar2_logo {
    flex: 0 auto;
    margin-left: 4rem;
  }

  .heading {
    font-size: 2.8rem;
  }

  .text-size-medium-2 {
    text-align: center;
  }

  .layout1_component {
    grid-template-columns: 1fr;
  }

  .table_component {
    clear: none;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    aspect-ratio: auto;
    object-fit: fill;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-self: auto;
    width: 375px;
    max-width: 100%;
    height: 667px;
    max-height: 100%;
    display: block;
    position: static;
    inset: 0% auto 0% 0%;
    overflow: auto;
  }

  .footer4_logo-link, .footer4_credit-text {
    text-align: center;
  }

  .image {
    background-color: #0000;
  }

  .navbar2_menu-2.is-page-height-tablet {
    background-color: #708090;
  }

  .heading-3 {
    text-align: center;
  }
}

#w-node-_58209cfd-0d96-3044-9ccf-ebe6fbf5ffd3-e586bc49 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_58209cfd-0d96-3044-9ccf-ebe6fbf5ffd5-e586bc49 {
  justify-self: center;
}

#w-node-_58209cfd-0d96-3044-9ccf-ebe6fbf5ffe8-e586bc49 {
  justify-self: end;
}

#w-node-_068eb1c6-6cd9-a1e6-665d-41f38b03a788-e586bc49 {
  justify-self: start;
}

#w-node-_068eb1c6-6cd9-a1e6-665d-41f38b03a793-e586bc49 {
  justify-self: end;
}

#w-node-_4c8ffbd6-bd29-b042-9662-5f909ff14e20-afd76cbe {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4c8ffbd6-bd29-b042-9662-5f909ff14e22-afd76cbe {
  justify-self: center;
}

#w-node-_4c8ffbd6-bd29-b042-9662-5f909ff14e36-afd76cbe {
  justify-self: end;
}

#w-node-_185c5408-6f82-dca6-5537-a1af7b45993d-afd76cbe {
  justify-self: start;
}

#w-node-_185c5408-6f82-dca6-5537-a1af7b459948-afd76cbe {
  justify-self: end;
}

#w-node-f5386025-fcc5-74e4-7d84-5946c709fdc5-87a12eb3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f5386025-fcc5-74e4-7d84-5946c709fdc7-87a12eb3 {
  justify-self: center;
}

#w-node-f5386025-fcc5-74e4-7d84-5946c709fddb-87a12eb3 {
  justify-self: end;
}

#w-node-_5a7d48f7-aa51-9daa-f7b8-b0ec46e1a637-87a12eb3 {
  justify-self: start;
}

#w-node-_5a7d48f7-aa51-9daa-f7b8-b0ec46e1a642-87a12eb3 {
  justify-self: end;
}

#w-node-f46df843-3cb0-b214-7fd0-0e379b63e1c2-9ad40a9c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f46df843-3cb0-b214-7fd0-0e379b63e1c4-9ad40a9c {
  justify-self: center;
}

#w-node-f46df843-3cb0-b214-7fd0-0e379b63e1d8-9ad40a9c {
  justify-self: end;
}

#w-node-_8d3c9cd8-ae35-99d7-8e30-aa6e883ad830-9ad40a9c {
  justify-self: start;
}

#w-node-_8d3c9cd8-ae35-99d7-8e30-aa6e883ad83b-9ad40a9c {
  justify-self: end;
}

#w-node-_972092a1-4df4-ff95-1e51-c2b7d5acbfdc-3da0d357 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_972092a1-4df4-ff95-1e51-c2b7d5acbfde-3da0d357 {
  justify-self: center;
}

#w-node-_972092a1-4df4-ff95-1e51-c2b7d5acbff2-3da0d357 {
  justify-self: end;
}

#w-node-f4fcf0fe-a162-76d1-d6cf-e4f57213d445-3da0d357 {
  justify-self: start;
}

#w-node-f4fcf0fe-a162-76d1-d6cf-e4f57213d450-3da0d357 {
  justify-self: end;
}

#w-node-_1ba28509-a268-79df-49a6-cdfafa3251b8-2961b01c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1ba28509-a268-79df-49a6-cdfafa3251ba-2961b01c {
  justify-self: center;
}

#w-node-_1ba28509-a268-79df-49a6-cdfafa3251ce-2961b01c {
  justify-self: end;
}

#w-node-_96dfe0a1-f7a1-3d85-9055-2cdecbb7c559-2961b01c {
  justify-self: start;
}

#w-node-_96dfe0a1-f7a1-3d85-9055-2cdecbb7c564-2961b01c {
  justify-self: end;
}

#w-node-a4d2f631-eb2a-3baa-d8e3-7f87977eb7df-c3b1a054 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a4d2f631-eb2a-3baa-d8e3-7f87977eb7e1-c3b1a054 {
  justify-self: center;
}

#w-node-a4d2f631-eb2a-3baa-d8e3-7f87977eb7f5-c3b1a054 {
  justify-self: end;
}

#w-node-_2c7999bf-d26c-df81-66cc-593ed4b0e456-c3b1a054 {
  justify-self: start;
}

#w-node-_2c7999bf-d26c-df81-66cc-593ed4b0e461-c3b1a054 {
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-_068eb1c6-6cd9-a1e6-665d-41f38b03a788-e586bc49, #w-node-_068eb1c6-6cd9-a1e6-665d-41f38b03a793-e586bc49, #w-node-_185c5408-6f82-dca6-5537-a1af7b45993d-afd76cbe, #w-node-_185c5408-6f82-dca6-5537-a1af7b459948-afd76cbe, #w-node-_5a7d48f7-aa51-9daa-f7b8-b0ec46e1a637-87a12eb3, #w-node-_5a7d48f7-aa51-9daa-f7b8-b0ec46e1a642-87a12eb3, #w-node-_8d3c9cd8-ae35-99d7-8e30-aa6e883ad830-9ad40a9c, #w-node-_8d3c9cd8-ae35-99d7-8e30-aa6e883ad83b-9ad40a9c, #w-node-f4fcf0fe-a162-76d1-d6cf-e4f57213d445-3da0d357, #w-node-f4fcf0fe-a162-76d1-d6cf-e4f57213d450-3da0d357, #w-node-_96dfe0a1-f7a1-3d85-9055-2cdecbb7c559-2961b01c, #w-node-_96dfe0a1-f7a1-3d85-9055-2cdecbb7c564-2961b01c, #w-node-_2c7999bf-d26c-df81-66cc-593ed4b0e456-c3b1a054, #w-node-_2c7999bf-d26c-df81-66cc-593ed4b0e461-c3b1a054 {
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_8a0a3d75-c6b0-fa89-5048-5b5ce8cfe295-e586bc49, #w-node-_068eb1c6-6cd9-a1e6-665d-41f38b03a7a2-e586bc49, #w-node-_185c5408-6f82-dca6-5537-a1af7b459952-afd76cbe, #w-node-_185c5408-6f82-dca6-5537-a1af7b45995b-afd76cbe, #w-node-_5a7d48f7-aa51-9daa-f7b8-b0ec46e1a64c-87a12eb3, #w-node-_5a7d48f7-aa51-9daa-f7b8-b0ec46e1a655-87a12eb3, #w-node-_8d3c9cd8-ae35-99d7-8e30-aa6e883ad845-9ad40a9c, #w-node-_8d3c9cd8-ae35-99d7-8e30-aa6e883ad84e-9ad40a9c, #w-node-f4fcf0fe-a162-76d1-d6cf-e4f57213d45a-3da0d357, #w-node-f4fcf0fe-a162-76d1-d6cf-e4f57213d463-3da0d357, #w-node-_96dfe0a1-f7a1-3d85-9055-2cdecbb7c56e-2961b01c, #w-node-_96dfe0a1-f7a1-3d85-9055-2cdecbb7c577-2961b01c, #w-node-_2c7999bf-d26c-df81-66cc-593ed4b0e46b-c3b1a054, #w-node-_2c7999bf-d26c-df81-66cc-593ed4b0e474-c3b1a054 {
    grid-area: 4 / 1 / 5 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_068eb1c6-6cd9-a1e6-665d-41f38b03a788-e586bc49, #w-node-_185c5408-6f82-dca6-5537-a1af7b45993d-afd76cbe, #w-node-_5a7d48f7-aa51-9daa-f7b8-b0ec46e1a637-87a12eb3, #w-node-_8d3c9cd8-ae35-99d7-8e30-aa6e883ad830-9ad40a9c, #w-node-f4fcf0fe-a162-76d1-d6cf-e4f57213d445-3da0d357, #w-node-_96dfe0a1-f7a1-3d85-9055-2cdecbb7c559-2961b01c, #w-node-_2c7999bf-d26c-df81-66cc-593ed4b0e456-c3b1a054 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


